// Fonts
$poppins: 'Poppins', sans-serif;
$openSans: 'Open Sans';

// Grey colors
$white: #ffffff;
$off-white: #f6f6f6;
$grey-very-light: #eaeaea;
$grey-light: #d8d7d7;
$grey-standard: #c4c4c4;
$grey-normal: #707070;
$grey-dark: #505050;
$black: #000000;

// Primary colors
$primary: #f9a602;
$primary-light: #f9a602;
$primary-dark: #f9a602;